@use "../sass/colors/semantic" as colors;
@use "../sass/variables";

section.css-category * {
    margin: 0;
}

section.css-category {
    font-size: 11pt;
    /** || Heading */
    h2.css-title-heading {
        cursor: pointer;
        display: flex;
        align-items: center; /** Vertical alignment */
        justify-content: flex-start;

        span.css-title {
            flex-shrink: 0;
        }

        .css-title-toolbar {
            margin-left: auto;
        }
    }

    th {
        text-align: left;
    }

    /* || Controls */
    .css-title-toolbar {
        font-size: initial;
        text-align: right;

        button {
            font-size: 9pt;
        }
    }

    input {
        padding: 2px;
    }

    /** || Highlighting Button */
    button.hl {
        background: inherit;
        border: none;
        color: colors.$light-accent;

        &:hover, &.hl-active {
            color: colors.$dark-shade;
        }
    }

    /* || Rulesets */
    /* || Property Lists */
    div.css-ruleset {
        font-family: variables.$monospace;

        table.css-ruleset-table {
            th::after {
                content: ':'
            }

            td.property-value {
                span::after {
                    content: ";";
                }
            }
        }
    }
}

/** || Nested Categories */
section.css-category-1 {
    /** All nested categories */
    section.css-category {
        border: 1px solid colors.$main;

        h2 {
            margin: 0;
            
            // Make sure inputs, text and buttons inside the heading
            // are visible on dark backgrounds
            &, * {
                color: colors.$light-shade;
            }
        }

        div.css-category-content {
            background: colors.$light-shade;
        }

        button {
            background: inherit;
            color: inherit;
        }
    }

    /** First nested category */
    section.css-category-2 h2 {
        background: colors.$dark-shade;
        font-size: large;
    }

    section.css-category-3 {
        h2 {
            background: colors.$dark-accent;
            font-size: medium;
        }
    }

    section.css-category-4 h2 {
        background: colors.$main;
        font-size: small;
    }

    section.css-category-5 h2 {
        background: colors.$light-accent;
    }
}

/** || Popovers */
.pseudo-options {
    display: flex;
    flex-direction: row;
    max-width: 250px;
    flex-wrap: wrap;
    justify-content: space-between;

    button {
        border-radius: unset;
        flex-grow: 1;
        font-size: smaller;
    }
}