@use "sass:color";
@use "../sass/colors/semantic" as colors;

.node-tree {
    ul {
        border-left: 1px solid colors.$main;
    }

    li {
        list-style-type: none;
        cursor: pointer;
    }

    .tree-item-selected {
        background: color.adjust(colors.$light-accent, $alpha: -0.5);

        > span {
            font-weight: bold;
        }
    }

    .tree-item-section {
        font-weight: bold;
    }

    .tree-item-selector {
        font-style: initial;
        font-weight: initial;
        color: color.adjust(colors.$dark-shade, $lightness: 50%);
    }

    /** Italic font for types that don't have their own
        text headers or values
     */
    .tree-item-Column, .tree-item-Grid {
        font-style: italic;
    }
}
