@use "colors/semantic" as colors;

%file-form {
    background: colors.$light-shade;
    border: 1px solid colors.$dark-accent;
    padding: 1rem;
    color: colors.$dark-shade;
}

form#html-id-adder {
    @extend %file-form;
}

input.invalid {
    background: colors.$danger;
}

#toolbar {
    fieldset {
        padding: 0;
    }
}

#link-url {
    width: 300px;
    color: colors.$light-shade;
    padding: 6px 10px;
    border: 1px solid colors.$border-subtle;
    border-radius: 4px;
    font-size: 1rem;
}