@use "sass:color";
@use "colors/semantic" as colors;

.resume-hl-box {
    background: colors.$highlight;
    border-color: colors.$border-subtle;
    border-style: solid;
    border-width: 0;
    pointer-events: none;

    &.resume-hl-box-selected-node {
        background: colors.$highlight-subtle;
        border-width: 2px;
        border-style: solid;
        box-sizing: border-box;
    }
}
