@use "colors/semantic" as colors;

input {
    background: inherit;
    border: 0;
}

#resume {
    input {
        border-bottom: 1px solid colors.$light-accent;

        &:hover {
            border-bottom-color: colors.$dark-shade;
        }
    }
}