@use "sass:color";
@use "colors/semantic" as colors;

#landing {
    max-width: 75ch;
    margin-left: auto;
    margin-right: auto;
}

.landing-menu {
    .pure-menu-item {
        padding: 0;

        /** || Adjacent Menu Items */
        + .pure-menu-item {
            margin-top: 0.5rem;
        }

        /** || Buttons */
        .pure-button {
            display: flex;
            align-items: center;
            background: inherit;
            font-size: large;
            width: 100%;

            &:hover {
                background: color.adjust(colors.$light-accent, $lightness: 20%);
            }
        }

        i[class*="icofont"] {
            font-size: 40px;
            color: colors.$main;
        }
    }
}