@use "colors/semantic" as colors;

/** All modals */
div[class*='ReactModal__Content'] {
    .modal-heading {
        display: flex;
        align-items: center;
        margin: 0;
        background: colors.$main;
        color: colors.$light-shade;

        .modal-close {
            border: none;
            background: inherit;
            margin-left: auto;

            &:hover {
                color: colors.$light-accent;
            }
        }
    }

    border: 1px solid colors.$dark-shade;
    background: colors.$light-shade;
    overflow: auto;
    border-radius: 4px;
    outline: none;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;
}

/** Modals created by top nav menu */
.top-nav-modal {
}
