@use "colors/semantic" as colors;

.resume-selected {
    background: colors.$selection;
}

#resume {
    div.resume-selected, .resume-selected {
        border: 2px solid colors.$focus-ring;
        cursor: auto;
    }
}

.resume-editing {
    background: unset;
}
