@use "colors/semantic" as colors;

.resume-selected {
    background: colors.$light-shade;
}

#resume {
    div.resume-selected, .resume-selected {
        border: 2px solid colors.$dark-shade;
        cursor: auto;
    }
}

.resume-editing {
    background: unset;
}