$sans-serif: Open Sans, sans-serif;
$monospace: 'Source Code Pro', monospace;

/* || Screen Sizes */
$screen-small: 500px;
$screen-medium: 800px;

%flex-row {
    display: flex;
    flex-direction: row;
}

%flex-col {
    display: flex;
    flex-direction: column;
}