@use "variables";

%file-form {
    background: variables.$light-shade;
    border: 1px solid variables.$dark-accent;
    padding: variables.$spacing;
    color: variables.$dark-shade;
}

form#html-id-adder {
    @extend %file-form;
}

input.invalid {
    background: red;
}

#toolbar {
    fieldset {
        padding: 0;
    }
}

#link-url {
    width: 300px;
    color: variables.$porcelain;
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}