div#resume {
    padding: 0 0.5em 0 0.5em;
}

div.button-tooltip {
    border-radius: 3px;
    background: rgba(15, 15, 15, 1);
    color: rgba(240, 240, 240, 1);
    padding: 5px;
}

li.list-options {
    list-style-type: none;
}

/* Adjacent Elements */
button + button {
    margin-left: 3px;
}