body {
    margin: 0;
}

div#help, div#resume:not(.resume-printing){
    width: 8.5in;
    padding: 0 0.5em 0 0.5em;
}

/* Resizer */
.Resizer.vertical {
    width: 2px;
    border-left: 2px solid #000000;
    padding: 0 0.5rem;
    cursor: col-resize;
}

/* Adjacent Elements */
button + button {
    margin-left: 3px;
}