@import "variables";

.react-contextmenu {
    background: $light-shade;
    border: 1px solid $light-accent;
    cursor: default;
    font-size: 10pt;

    h3 {
        margin: 0;
        padding: $spacing/4 $spacing;
    }

    hr {
        border: 0;
        border-top: 1px solid darken($light-shade, 20%);
    }

    .react-contextmenu-item {
        cursor: pointer;
        padding: $spacing/4 $spacing;

        &:hover {
            background: $dark-accent;
            color: $light-shade;
        }
    }
}