@import "variables";

section.css-category * {
    margin: 0;
}

section.css-category {
    font-size: 11pt;

    h2 {
        margin: 0.3em 0;
        cursor: pointer;
        display: flex;
        justify-content: space-between;

        span.button-group {
            font-size: initial;

            button {
                font-size: 9pt;
                margin-left: $spacing/4;
            }

            text-align: right;
        }
    }

    th {
        text-align: left;
        padding-right: 0.5em;
    }
    // font-family: monospace;
    margin: $spacing 0;
}

/** Nested Categories */
section.css-category-1 .css-category {
    border: 1px solid $main;

    h2 {
        background: $main;
        margin: 0;
        padding: $spacing/2 $spacing;
        color: $light-accent;
        font-size: 1.2em;
    }

    div.css-category-content {
        background: $light-shade;
        padding: $spacing/2 $spacing;
    }
}

/** Highlighting boxes */
.resume-hl-box {
    background: transparentize(darken($light-shade, 0.25), 0.5);
    border-color: transparentize($light-accent, 0.5);
    border-style: solid;
    border-width: 0;
}

.css-ruleset {
    table {
        margin-left: $spacing;

        th::after {
            content: ':'
        }
    }
}