@import "variables";

.tabs-container {
    @extend %flex-col;
    height: 100%;

    .tabs {
        .tabs-button {
            background: inherit;
            border: none;
            border-radius: unset;
        }

        .tabs-button-active {
            background: $main;
            color: $light-shade;
        }
    }

    .tabs-children {
        border: solid $main;
        border-width: 2px 0px 0px 2px;
        padding: $spacing;
        overflow-y: auto;
        flex-grow: 2;
    }
}

pre {
    font-family: $monospace;
    font-size: 11pt;
}

/* || CSS Style Categories */
section.css-category * {
    margin: 0;
}

section.css-category {
    font-size: 11pt;
    margin: $spacing 0;
    /** || Heading */
    h2.css-title-heading {
        margin: 0.3em 0;
        cursor: pointer;
        display: flex;
        align-items: center; /** Vertical alignment */
        justify-content: flex-start;

        span.css-title {
            flex-shrink: 0;
        }

        .css-title-toolbar {
            margin-left: auto;
        }
    }

    th {
        text-align: left;
        padding-right: 0.5em;
    }

    /* || Controls */
    .css-title-toolbar {
        font-size: initial;

        button {
            font-size: 9pt;
        }

        text-align: right;
    }
    /** || Highlighting Button */
    button.hl {
        background: inherit;
        border: none;
        color: $light-accent;

        &:hover, &.hl-active {
            color: $dark-shade;
        }
    }

    /* || Rulesets */
    span.css-description {
        margin-top: $spacing;
    }
    /* || Property Lists */
    div.css-ruleset {
        font-family: $monospace;
        margin-top: $spacing;

        table.css-ruleset-table {
            margin-left: $spacing;

            th::after {
                content: ':'
            }

            td.property-value {
                span::after {
                    content: ";";
                }
            }
        }
    }
}

/** || Nested Categories */
section.css-category-1 {
    /** All nested categories */
    section.css-category {
        border: 1px solid $main;

        h2 {
            margin: 0;
            padding: $spacing/2 $spacing;
            color: $light-shade;
        }

        div.css-category-content {
            background: $light-shade;
            padding: $spacing/2 $spacing;
        }

        button {
            background: inherit;
            color: inherit;
        }

        button:hover {
            /** TODO: Add gradient */
        }
    }

    /** First nested category */
    section.css-category-2 h2 {
        background: $dark-shade;
        font-size: large;
    }

    section.css-category-3 {
        h2 {
            background: $dark-accent;
            font-size: medium;
        }
    }

    section.css-category-4 h2 {
        background: $main;
        font-size: small;
    }

    section.css-category-5 h2 {
        background: $light-accent;
    }
}

/** Highlighting boxes */
.resume-hl-box {
    background: transparentize(darken($light-shade, 0.25), 0.5);
    border-color: transparentize($light-accent, 0.5);
    border-style: solid;
    border-width: 0;
}
/** || Popovers */
.pseudo-options {
    @extend %flex-row;
    max-width: 250px;
    flex-wrap: wrap;
    justify-content: space-between;

    button {
        border-radius: unset;
        flex-grow: 1;
        font-size: smaller;
    }
}