@import "variables";
@import "landing";
@import "resume-hover";

%flex-row {
    display: flex;
    flex-direction: row;
}

/* App Stuff */
body {
    background: $light-shade;
    color: $dark-shade;
}

header#app-header {
    $header-background: $main;

    background: $header-background;
    color: $light-shade;

    /** Keep toolbar at top */
    position: sticky;
    top: 0;
    margin-bottom: $spacing;

    div#brand, div#toolbar {
        @extend %flex-row;
        align-content: center;
    }

    div#brand {
        padding-left: $spacing * 0.5;

       h1 {
          margin: $spacing;
          font-size: 20pt;
          cursor: pointer;
       }

        .pure-menu-horizontal {
            margin-left: $spacing * 2;
            display: flex;
            flex-direction: column;
            align-self: center;
        }

        .pure-menu-selected {
            a {
                color: $light-shade;
                font-weight: bold;
            }
        }

        .pure-menu-link:hover {
            background: $dark-accent;
            color: $light-shade;
        }

        // GitHub Icon
        svg {
            color: $light-accent;
        }
    }

    div#toolbar {
        border-top: 1px solid $light-accent;
        color: $light-shade;
        padding: $spacing * 0.5;

        button.pure-button {
            background: $header-background;
            color: $light-shade;

            svg {
                margin-right: $spacing * 0.25;
            }
        }

        button.pure-button:hover {
            background: $dark-accent;
        }
    }
}

#resume:not(.resume-printing) {
    background: #ffffff;
    border: 1px solid #dddddd;
    max-width: 8.5in;
    min-height: 11in;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5in;
    margin-bottom: $spacing;
}

.button-disabled {
    filter: opacity(0.3);
}

button img {
    /* Make black icons white-ish */
    filter: invert(0.95);
    margin-right: 2px;
}

div.button-tooltip {
    border-radius: 3px;
    background: rgba(15, 15, 15, 1);
    color: rgba(240, 240, 240, 1);
    padding: 5px;
}

input {
    width: 100%;
}

/** Helper Classes */
.cursor-pointer {
    cursor: pointer;
}