@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/input-group";
@import "~bootstrap/scss/custom-forms";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/breadcrumb";
@import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/jumbotron";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/progress";
@import "~bootstrap/scss/media";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/toasts";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/tooltip";
@import "~bootstrap/scss/popover";
@import "~bootstrap/scss/carousel";
@import "~bootstrap/scss/spinners";
@import "~bootstrap/scss/utilities";

/* App Stuff */
.button-disabled {
    filter: opacity(0.3);
}

button img {
    /* Make black icons white-ish */
    filter: invert(0.95);
    margin-right: 2px;
}

div.button-tooltip {
    border-radius: 3px;
    background: rgba(15, 15, 15, 1);
    color: rgba(240, 240, 240, 1);
    padding: 5px;
}

input {
    width: 100%;
}

.resume-hovering, .resume-selected {
    background: $gray-100;
}

.resume-hovering {
    border: 1px dashed $blue;
    cursor: pointer;
}

.resume-selected, .resume-hovering.resume-selected {
    border: 2px solid $blue;
    cursor: auto;
}

.resume-hidden {
    font-style: italic;
    color: #aaaaaa;
}

.resume-default {
    font-style: italic;
}

$grab-handle-size: 35px;

.row-grab-handle-container, .column-grab-handle-container {
    position: relative;
}

.row-grab-handle, .column-grab-handle {
    position: absolute;
    font-family: $font-family-base;
    color: $white;
    cursor: pointer;
}

.row-grab-handle-container {
    .row-grab-handle {
        left: -$grab-handle-size;
        width: $grab-handle-size;
        height: 100%;
        background: $blue;
        writing-mode: vertical-rl;
        transform: rotate(-180deg);
        padding-top: 0.5rem;
    }
}

.column-grab-handle-container {
    .column-grab-handle {
        top: -$grab-handle-size;
        width: 100%;
        height: $grab-handle-size;
        background: $gray-600;
        padding-left: 0.5rem;
    }
}

#resume {
    a.dropdown-item, button {
        /** Use Bootstrap style for editing controls */
        font-family: $font-family-base;
    }

    li.list-options {
        list-style-type: none;
    }
}