@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

$light-spacing: 2px;
$spacing: 1rem;

$porcelain: #ecf2f2;
$lynch: #6a869a;
$oxford-blue: #192739;
$san-marino: #4375a1;
$baltic-sea: #151318;

$light-shade: $porcelain;
$light-accent: $lynch;
$main: $oxford-blue;
$dark-accent: $san-marino;
$dark-shade: $baltic-sea;

%flex-row {
    display: flex;
    flex-direction: row;
}

/* App Stuff */
body {
    background: $light-shade;
    color: $dark-shade;
}

header#app-header {
    $header-background: $main;

    background: $header-background;
    color: $light-shade;

    /** Keep toolbar at top */
    position: sticky;
    top: 0;
    margin-bottom: $spacing;

    div#brand, div#toolbar {
        @extend %flex-row;
        align-content: center;
    }

    div#brand {
        padding-left: $spacing * 0.5;

       h1 {
          margin: $spacing;
          font-size: 20pt;
       }

        .pure-menu-horizontal {
            margin-left: $spacing * 2;
            display: flex;
            flex-direction: column;
            align-self: center;
        }

        .pure-menu-selected {
            a {
                color: $light-shade;
                font-weight: bold;
            }
        }

        .pure-menu-link:hover {
            background: $dark-accent;
            color: $light-shade;
        }
    }

    div#toolbar {
        border-top: 1px solid $light-accent;
        color: $light-shade;
        padding: $spacing * 0.5;

        button.pure-button {
            background: $header-background;
            color: $light-shade;

            svg {
                margin-right: $spacing * 0.25;
            }
        }

        button.pure-button:hover {
            background: $dark-accent;
        }
    }
}

#resume:not(.resume-printing) {
    background: #ffffff;
    border: 1px solid #dddddd;
    max-width: 8.5in;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5in;
}

.button-disabled {
    filter: opacity(0.3);
}

button img {
    /* Make black icons white-ish */
    filter: invert(0.95);
    margin-right: 2px;
}

div.button-tooltip {
    border-radius: 3px;
    background: rgba(15, 15, 15, 1);
    color: rgba(240, 240, 240, 1);
    padding: 5px;
}

input {
    width: 100%;
}

.resume-hovering, .resume-selected {
    background: $gray-100;
}

.resume-hovering {
    border: 1px dashed $blue;
    cursor: pointer;
}

.resume-selected, .resume-hovering.resume-selected {
    border: 2px solid $blue;
    cursor: auto;
}

.resume-hidden {
    font-style: italic;
    color: #aaaaaa;
}

.resume-default {
    font-style: italic;
}

$grab-handle-size: 35px;

.row-grab-handle-container, .column-grab-handle-container {
    position: relative;
}

.row-grab-handle, .column-grab-handle {
    position: absolute;
    font-family: $font-family-base;
    color: $white;
    cursor: pointer;
}

.row-grab-handle-container {
    .row-grab-handle {
        left: -$grab-handle-size;
        width: $grab-handle-size;
        height: 100%;
        background: $blue;
        writing-mode: vertical-rl;
        transform: rotate(-180deg);
        padding-top: 0.5rem;
    }
}

.column-grab-handle-container {
    .column-grab-handle {
        top: -$grab-handle-size;
        width: 100%;
        height: $grab-handle-size;
        background: $gray-600;
        padding-left: 0.5rem;
    }
}

#resume {
    a.dropdown-item, button {
        /** Use Bootstrap style for editing controls */
        font-family: $font-family-base;
    }

    li.list-options {
        list-style-type: none;
    }
}

/** Helper Classes */
.cursor-pointer {
    cursor: pointer;
}