@import "variables";

%file-form {
    background: $light-shade;
    border: 1px solid $dark-accent;
    padding: $spacing;
    color: $dark-shade;
}

form#file-loader {
    @extend %file-form;
}

/** Quill */

#resume {
    .ql-container {
        font-family: inherit;
    }

    .ql-editor {
        padding: initial;

        li {
            list-style-type: none;
        }
    }
}