@use "variables";

%file-form {
    background: variables.$light-shade;
    border: 1px solid variables.$dark-accent;
    padding: variables.$spacing;
    color: variables.$dark-shade;
}

form#html-id-adder {
    @extend %file-form;
}

input.invalid {
    background: red;
}

/** Quill */

#resume {
    .ql-container {
        font-family: inherit;
    }

    .ql-editor {
        padding: initial;

        li {
            list-style-type: none;
        }
    }
}