@import "variables";

/** || Header */
header#app-header {
    $header-background: $main;

    background: $header-background;
    color: $light-shade;
    margin-bottom: $spacing;

    #brand, #toolbar {
        @extend %flex-row;
        align-content: center;
    }

    .pure-menu-active {
        &, :focus {
            background: $dark-accent;
        }
    }

    .pure-button {
        background: inherit;
        color: inherit;

        > i[class*="icofont"] + .button-text {
            margin-left: $spacing / 2;
        }

        &:hover {
            background: $dark-accent;
        }
    }
    /** || Toolbar Dropdowns */
    .pure-menu-has-children {
        /** || Caret */
        > button::after {
            content: "\25BE";
            font-size: small;
            padding-left: $spacing / 2;
        }

        /** || Dropdown Items */
        .pure-menu-children {
            box-shadow: transparentize($dark-shade, 0.5) 2px 2px 5px;

            .pure-menu-item {
                background: $dark-shade;
                color: $light-shade;
                padding: 0;
            }

            .pure-button {
                width: 100%;

                div {
                    /** Workaround due to a Chrome bug where <button> elements can't be 
                        grid containers

                        See: https://github.com/rachelandrew/gridbugs#10-some-html-elements-cant-be-grid-containers
                    */
                    display: grid;
                    text-align: left;
                    align-items: center;
                    /** icon, label, shortcut (if applicable) */
                    grid-template-columns: 16px 1fr 0.5fr;
                    grid-column-gap: $spacing;
                    width: 100%;

                    .button-text {
                        grid-column-start: 2;
                        white-space: nowrap;
                    }
                }

                i[class*="icofont"] {
                    color: $light-accent;
                }

                &:hover {
                    background: $dark-accent;

                    i[class*="icofont"] {
                        color: lighten($light-accent, 25%);
                    }
                }
            }
        }
    }
}
/** || Top Editing Bar */
div#toolbar {
    border-top: 1px solid $light-accent;
    color: $light-shade;

    div.toolbar-section {
        @extend %flex-col;
        border-right: 1px solid transparentize($light-accent, 0.5);
        align-items: center;
        padding: $edge-horizontal-spacing;

        .toolbar-label {
            color: $light-accent;
            font-size: 0.8em;
            cursor: default;
        }

        &:last-child {
            border-right: none;
        }
    }
}

/** || Top Editing Bar: Collapsed */
div#toolbar.toolbar-collapsed > .pure-menu > .pure-menu-list {
    @extend %flex-row;
    flex-wrap: wrap;
    /** || Subsection Headings */
    .toolbar-collapsed-section h3 {
        @extend %flex-row;
        align-items: center;
        border-bottom: 1px solid $light-accent;
        margin: 0;

        .pure-button.back-button , span {
            padding: 0.5em 1em;
        }

        .pure-button.back-button {
            width: auto;
            padding-right: 0;

            &::after {
                content: "";
                margin-left: 1em;
                border-right: 1px solid transparentize($light-accent, 0.25);
            }

            &:hover::after {
                border: none;
                border-right: 1px solid $dark-accent;
            }
        }
    }
}

/** || Top Nav Bar */
#brand {
    padding: 0 $edge-horizontal-spacing;
    align-items: center;

    h1 {
        margin: $spacing;
        font-size: 20pt;
        cursor: pointer;
    }

    .pure-menu-horizontal {
        margin-left: $spacing * 2;
        display: flex;
        flex-direction: column;
        align-self: center;
    }
    // GitHub Icon
    .github-mark {
        vertical-align: middle;
        color: $light-accent;
        width: 32px;
    }
}