@import "variables";
@import "landing";
@import "resume-hover";
@import "forms";
@import "css-editor";

%flex-row {
    display: flex;
    flex-direction: row;
}

%flex-col {
    display: flex;
    flex-direction: column;
}

/* App Stuff */
body {
    background: $light-shade;
    color: $dark-shade;
    margin: 0;
}

/* Resizer */
.Resizer.vertical {
    width: 2px;
    border-left: 2px solid #000000;
    padding: 0 0.5rem;
    cursor: col-resize;
}

header#app-header {
    $header-background: $main;

    background: $header-background;
    color: $light-shade;
    /** Keep toolbar at top */
    position: sticky;
    top: 0;
    margin-bottom: $spacing;

    div#brand, div#toolbar {
        @extend %flex-row;
        align-content: center;
    }

    div#toolbar {
        border-top: 1px solid $light-accent;
        color: $light-shade;
        padding: $spacing * 0.5;

        div.toolbar-section {
            @extend %flex-col;
            border-right: 1px dotted $light-accent;
            align-items: center;

            .label {
                color: $light-accent;
                font-size: 0.8em;
            }

            .label:hover {
                cursor: default;
            }
        }

        div.toolbar-section:last-child {
            border-right: none;
        }

        button.pure-button {
            background: $header-background;
            color: $light-shade;

            svg {
                margin-right: $spacing * 0.25;
            }
        }

        button.pure-button:hover {
            background: $dark-accent;
        }
    }

    div#brand {
        padding-left: $spacing * 0.5;

        h1 {
            margin: $spacing;
            font-size: 20pt;
            cursor: pointer;
        }

        .pure-menu-horizontal {
            margin-left: $spacing * 2;
            display: flex;
            flex-direction: column;
            align-self: center;
        }

        .pure-menu-selected {
            a {
                color: $light-shade;
                font-weight: bold;
            }
        }

        .pure-menu-link:hover {
            background: $dark-accent;
            color: $light-shade;
        }
        // GitHub Icon
        svg {
            color: $light-accent;
        }
    }
}

.button-disabled {
    filter: opacity(0.3);
}

button img {
    /* Make black icons white-ish */
    filter: invert(0.95);
    margin-right: 2px;
}

div.button-tooltip {
    border-radius: 3px;
    background: rgba(15, 15, 15, 1);
    color: rgba(240, 240, 240, 1);
    padding: 5px;
}

/** Helper Classes */
.cursor-pointer {
    cursor: pointer;
}

#resume {
    background: #ffffff;
}

@media screen {
    #resume {
        border: 1px solid #dddddd;
        width: 8.5in;
        max-width: 8.5in;
        min-height: 11in;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: $spacing;
    }
}

@media print {
    #resume {
        width: 100%;
        height: 100%;
        border: none;
    }
}