@import "context-menu";
@import "buttons";
@import "variables";
@import "landing";
@import "resume-hover";
@import "modals";
@import "node-tree";
@import "forms";
@import "css-editor";
@import "quill";
@import "inputs";
@import "top-menu";
@import "zindex";

/* App Stuff */
body {
    background: $light-shade;
    font-family: $sans-serif;
    color: $dark-shade;
    margin: 0;
}

#resume-container {
    width: 8.5in;
    margin-left: auto;
    margin-right: auto;
}

/* Resizer */
.Resizer.vertical {
    width: $spacing;
    cursor: col-resize;
}

.button-disabled {
    filter: opacity(0.3);
}

button img {
    /* Make black icons white-ish */
    filter: invert(0.95);
    margin-right: 2px;
}

div.button-tooltip {
    border-radius: 3px;
    background: rgba(15, 15, 15, 1);
    color: rgba(240, 240, 240, 1);
    padding: 5px;
}

/** Helper Classes */
.cursor-pointer {
    cursor: pointer;
}

#resume {
    background: #ffffff;
}

@media screen {
    #resume-container {
        width: 8.5in;
    }

    #resume {
        border: 1px solid #dddddd;
        min-height: 11in;
        margin-bottom: $spacing;
        margin-left: auto;
        margin-right: auto;
    }
}

@media print {
    body {
        background: none;
    }

    #resume {
        height: 100%;
        border: none;
    }
}

@media screen {
    #main-grid {
        display: block;

        > div {
            margin-left: auto;
            margin-right: auto;
        }
    }
}

@media screen and (min-width: calc(8.5in + 250px)) {
    #main-grid {
        display: grid;
        grid-template-columns: 80% 20%;
    }
}