@import "variables";

input {
    background: inherit;
    border: 0;
}

#resume {
    input {
        border-bottom: 1px solid $light-accent;

        &:hover {
            border-bottom-color: $dark-shade;
        }
    }
}