@import "variables";

#landing {
    max-width: 75ch;
    padding: 0 $edge-horizontal-spacing;
    margin-left: auto;
    margin-right: auto;
}

.landing-menu {
    .pure-menu-item {
        padding: 0;

        /** || Adjacent Menu Items */
        + .pure-menu-item {
            margin-top: $spacing/2;
        }

        /** || Buttons */
        .pure-button {
            display: flex;
            align-items: center;
            background: inherit;
            padding: $spacing/2;
            font-size: large;
            width: 100%;

            &:hover {
                background: lighten($light-accent, 20%);
            }
        }

        i[class*="icofont"] {
            font-size: 40px;
            color: $main;
            margin-right: $spacing;
        }
    }
}