@import "variables";

ul.node-tree {
    padding-left: $spacing;

    ul {
        margin-left: $spacing;
        border-left: 1px solid $main;
    }

    li {
        list-style-type: none;
        cursor: pointer;
        padding: $spacing/8 0;
    }

    li.tree-item-selected {
        background: transparentize($light-accent, 0.5);

        > span {
            font-weight: bold;
        }
    }

    span.tree-item-section {
        font-weight: bold;
    }

    /** Italic font for types that don't have their own
        text headers or values
     */
    span.tree-item-Column, span.tree-item-Grid {
        font-style: italic;
    }
}

%icon {
    // text-align: center;
    width: $spacing;
    display: inline-block;
}
