@import "variables";

.resume-selected {
    background: $light-shade;
}

#resume {
    div.resume-selected, .resume-selected {
        border: 2px solid $dark-shade;
        cursor: auto;
    }
}

.resume-editing {
    background: unset;
}