@import "variables";

.resume-hovering, .resume-selected {
    background: $light-shade;
}

.resume-hovering {
    border: 1px dashed $main;
    cursor: pointer;
}

.resume-selected, .resume-hovering.resume-selected {
    border: 2px solid $main;
    cursor: auto;
}

.resume-hidden {
    font-style: italic;
    color: #aaaaaa;
}

.resume-default {
    font-style: italic;
}

.resume-editing {
    background: unset;
}

$grab-handle-size: 35px;

.row-grab-handle-container, .column-grab-handle-container {
    position: relative;

}

.row-grab-handle, .column-grab-handle {
    display: flex;
    position: absolute;
    font-family: $font-family-base;
    color: $light-shade;
    cursor: pointer;
}

.row-grab-handle-container {
    .row-grab-handle {
        left: -$grab-handle-size;
        width: $grab-handle-size;
        height: 100%;
        background: $main;
        writing-mode: vertical-rl;
        transform: rotate(-180deg);
        padding-top: 0.5rem;
    }
}

.column-grab-handle-container {
    .column-grab-handle {
        top: -$grab-handle-size;
        left: -1px;
        width: calc(100% - 1rem + 3px);
        height: $grab-handle-size;
        background: $dark-accent;
        padding-left: $spacing;
    }
}

/** Disable background if are hovering over a node's children */
.resume-hovering-over-children {
    background: none;
    border: none;
}

.resume-row.resume-hovering-over-children {
    border: 1px solid $dark-accent;
}

.resume-column.resume-hovering-over-children {
    border: 1px solid $dark-accent;
}

#resume {
    a.dropdown-item, button {
        /** Use Bootstrap style for editing controls */
        font-family: $font-family-base;
    }

    li.list-options {
        list-style-type: none;
    }
}
