@import "variables";

/** || Header */
header#app-header {
    $header-background: $main;

    background: $header-background;
    color: $light-shade;
    /** Keep toolbar at top */
    position: sticky;
    top: 0;
    margin-bottom: $spacing;

    .pure-menu-active, .pure-menu-active:focus {
        background: $dark-accent;
    }

    #brand, #toolbar {
        @extend %flex-row;
        align-content: center;
    }

    .pure-button {
        background: inherit;
        color: inherit;
    }

    .pure-button:hover {
        background: $dark-accent;
    }
}

/** || Top Editing Bar */
div#toolbar {
    border-top: 1px solid $light-accent;
    color: $light-shade;

    div.toolbar-section {
        @extend %flex-col;
        border-right: 1px solid transparentize($light-accent, 0.5);
        align-items: center;
        padding: $edge-horizontal-spacing;

        .toolbar-label {
            color: $light-accent;
            font-size: 0.8em;
        }

        .toolbar-label:hover {
            cursor: default;
        }
    }

    div.toolbar-section:last-child {
        border-right: none;
    }
}

/** || Top Editing Bar: Collapsed */
div#toolbar.toolbar-collapsed > .pure-menu > .pure-menu-list {
    @extend %flex-row;
    flex-wrap: wrap;

    /** || Subsection Headings */
    .toolbar-collapsed-section h3 {
        @extend %flex-row;
        align-items: center;
        border-bottom: 1px solid $light-accent;
        margin: 0;

        button, span {
            padding: 0.5em 1em;
        }

        button {
            padding-right: 0;
        }

        button::after {
            content: "";
            margin-left: 1em;
            border-right: 1px solid transparentize($light-accent, 0.25);
        }

        button:hover::after {
            border: none;
            border-right: 1px solid $dark-accent;
        }
    }
}

/** || Top Nav Bar */
div#brand {
    padding: 0 $edge-horizontal-spacing;
    align-items: center;

    h1 {
        margin: $spacing;
        font-size: 20pt;
        cursor: pointer;
    }

    .pure-menu-horizontal {
        margin-left: $spacing * 2;
        display: flex;
        flex-direction: column;
        align-self: center;
    }
    // GitHub Icon
    .github-mark {
        color: $light-accent;
        width: 32px;
    }
}