@import "variables";

/** || Toolbar Dropdowns */
ul.pure-menu-children {
    box-shadow: transparentize($dark-shade, 0.5) 2px 2px 5px;

    li.pure-menu-item {
        background: $dark-shade;
        color: $light-shade;
        align-items: center;
        padding: .5em 1em;
        cursor: pointer;
    }

    li.pure-menu-item:hover {
        background: $dark-accent;

        i {
            color: lighten($light-accent, 25%);
        }
    }

    li.pure-menu-item.disabled {
        color: transparentize($light-shade, 0.5);
        cursor: default;
    }

    li.pure-menu-item.disabled:hover {
        background: $dark-shade;
    }
}

ul.pure-menu-children.icon-menu {
    li.pure-menu-item {
        display: block grid;
        /** icon, label, shortcut (if applicable) */
        grid-template-columns: 30px 1fr 0.5fr;

        > i {
            color: $light-accent;
        }
        /** Give buttons in menus the same styling as links */
        > span.menu-item-label {
            background: inherit;
            border: none;
            text-decoration: none;
            white-space: nowrap;
        }

        > span.shortcut {
            margin-left: $spacing * 2;
        }
    }

    li.pure-menu-item.no-icon {
        /** Shift items right one column */
        > span.menu-item-label {
            grid-column-start: 2;
        }

        > span.shortcut {
            grid-column-start: 3;
        }
    }
}

/** || Header */
header#app-header {
    $header-background: $main;

    background: $header-background;
    color: $light-shade;
    /** Keep toolbar at top */
    position: sticky;
    top: 0;
    margin-bottom: $spacing;

    .pure-menu-active, .pure-menu-active:focus {
        background: $dark-accent;
    }

    div#brand, div#toolbar {
        @extend %flex-row;
        align-content: center;
    }

    /** || Top Editing Bar */
    div#toolbar {
        border-top: 1px solid $light-accent;
        color: $light-shade;
        padding: $spacing * 0.5;

        div.toolbar-section {
            @extend %flex-col;
            border-right: 1px dotted $light-accent;
            align-items: center;

            .label {
                color: $light-accent;
                font-size: 0.8em;
            }

            .label:hover {
                cursor: default;
            }
        }

        div.toolbar-section:last-child {
            border-right: none;
        }

        button.pure-button {
            background: $header-background;
            color: $light-shade;

            svg {
                margin-right: $spacing * 0.25;
            }
        }

        button.pure-button:hover {
            background: $dark-accent;
        }

        button.button-text i {
            margin-right: $spacing/2;
        }
    }

    /** || Top Nav Bar */
    div#brand {
        padding-left: $spacing * 0.5;
        padding-right: $spacing * 0.5;
        align-items: center;

        h1 {
            margin: $spacing;
            font-size: 20pt;
            cursor: pointer;
        }

        .pure-menu-horizontal {
            margin-left: $spacing * 2;
            display: flex;
            flex-direction: column;
            align-self: center;
        }

        .pure-menu-selected {
            a {
                color: $light-shade;
                font-weight: bold;
            }
        }

        .pure-menu-link:hover {
            background: $dark-accent;
            color: $light-shade;
        }
        // GitHub Icon
        .github-mark {
            color: $light-accent;
            width: 32px;
        }
    }
}
