$sans-serif: Open Sans, sans-serif;
$monospace: 'Source Code Pro', monospace;

$light-spacing: 2px;
$spacing: 1rem;

$porcelain: #ecf2f2;
$lynch: #6a869a;
$oxford-blue: #192739;
$san-marino: #4375a1;
$baltic-sea: #151318;

$light-shade: $porcelain;
$light-accent: $lynch;
$main: $oxford-blue;
$dark-accent: $san-marino;
$dark-shade: $baltic-sea;


%flex-row {
    display: flex;
    flex-direction: row;
}

%flex-col {
    display: flex;
    flex-direction: column;
}