/** Overlap control */
#resume, #resume * {
    z-index: 0;
}

$header-z: 1000;

header#app-header, header#app-header * {
    z-index: $header-z;

    /** Dropdown menus */
    #top-menu, #top-menu * {
        z-index: $header-z + 1;
    }

    /** Don't want dropdowns getting obscured by labels */
    span.label {
        z-index: $header-z - 1;
    }
}

div.ReactModalPortal, div.ReactModalPortal * {
    z-index: $header-z + 2;
}

div.Pane1, div.Pane1 * {
    z-index: 1;
}

div.Pane2, div.Pane2 * {
    z-index: 2;
}