@import "variables";

/** Overlap control */
#resume, #resume * {
    z-index: 0;
}

$header-z: 1000;

header#app-header, header#app-header * {
    z-index: $header-z;

    /** Dropdown menus */
    #top-menu, button.toolbar-button {
        z-index: $header-z + 1;
    }

    /** Active dropdown menu */
    li.pure-menu-active {
        z-index: $header-z + 2;
    }

    /** Don't want label obscuring dropdown menus */
    span.toolbar-label {
        z-index: $header-z - 1;
    }
}

div.ReactModalPortal, div.ReactModalPortal * {
    z-index: $header-z + 2;
}

Vertical.div.Pane1, Vertical.div.Pane1 * {
    z-index: 1;

    .resume-hl-box {
        background: transparentize($dark-accent, 0.75);
        z-index: 2;
    }
}

/** || Sidebar */
div.Pane2, div.Pane2 * {
    z-index: 2;
    
}

/** || Popovers */
.resume-popover, .resume-popover *,
.css-selector-adder, .css-selector-adder *,
.pseudo-options-container, .pseudo-options-container * {
    z-index: $header-z + 2;
}